@import "tailwindcss";


/* ============================== */
/*             BODY               */
/* ============================== */

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    color: #f9f9f9;
    min-height: 100vh;
}

/* Background Image Overlay */
body::before {
    position: absolute;
    content: "";
    background-image: url('./assets/ghostbg.jpeg');
    background-size: cover;
    background-position: center 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.15;
    background-attachment: fixed;
}